@charset "utf-8";

html{font-size:62.5%;}
body,div,dl,dt,dd,ul,ol,li,p,span,a,img,form,input,h1,h2,h3,h4,h5,h6 {margin: 0;padding: 0;}
body {width: 100%;min-width: 320px;font-size:12px;color:#333;background: #eff9fc;font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",sans-serif;line-height: 24px;word-wrap:break-word;word-break:break-all;-webkit-tap-highlight-color:rgba(0,0,0,0);}
ul li,ol li {list-style: none;}

h1,h2,h3,h4,h5,h6 {font-weight: normal;}
a {text-decoration: none;color:#333;}
img{border: none;display:block; margin:auto;max-width: 100%;}
i {font-style:normal}
a:focus{outline:none;}
i,em,strong{font-style: normal;}
textarea,input{word-wrap:break-word;word-break:break-all;padding:0px;color:#333;}
input, button, textarea, select {border:none;outline: none;background: none;font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",sans-serif;-webkit-appearance: none;color:#333;-moz-appearance: none;appearance: none;font-size: 1.4rem;}

.main{width:100%;}
.fl{float: left;}
.fr{float: right;}
.wrap {padding:0 3%;}
.wrap1 {padding:0;}
.clearfix:after {content: '.';display: block;clear: both;height: 0;visibility: hidden;}
.clearfix {*zoom:1;}

.mgtop{padding-top:50px;}
.wrapper{padding-bottom: 60px;}


/*头部*/
.header{width: 100%;height: 50px;position: fixed;top: 0px;left: 0px;z-index:200;text-align: center;line-height: 50px;border-bottom:1px #f2f2f2 solid;background: #fff;}
.header .header_left{left:3%;}
.header .header_left,.header .header_right{display: block;height: 50px;line-height: 50px;position: absolute; top:0;}
.header .header_left i{font-size: 2.2rem;}
.header .header_left span{display:inline-block;vertical-align: top;font-size:2rem;}
.header .header_right{right:3%;}
.header .header_right a.shangjia{background:#fff;height:30px;line-height: 30px;margin-top: 10px;color:#c50000;display: block;width:50px;font-size: 1.6rem;border-radius:6px;-webkit-border-radius:6px;}
.header .header_title{width: 100%;height: 50px;font-size: 2rem;}
.header .header_title p{line-height: 20px;padding-top: 5px;}
.header .header_title p span{font-size: 1.4rem;}

.header.red{background:#c50000;color:#fff;}
.header.red .header_left{color:#fff;}

.header.index_header{background:#161616;border-bottom:1px #b0b0b0 solid;}
.index_header .content{padding:0 3%;display: flex;}
.index_header .content .left{float: left;flex:1;}
.index_header .content .center{margin-right:20px;}
.index_header .content i{color:#ffc400;float: left;margin-right: 10px;font-size: 1.7rem;}
.index_header .content i.icon-yuanbao-copy{font-size: 2.4rem;}
.index_header .content i.icon-tixian1{font-size: 2rem;}
.index_header .content span{float: left;font-size: 1.6rem;color:#ffc400;}


/*交易*/
.compared{background:#161616;}
.compared .vs{padding:20px 3% 30px;overflow:hidden;*zoom:1;}
.compared .vs .plate{width:40%;height:80px;background:#c50000;border-radius:100%;float:left;text-align: center;position: relative;}
.compared .vs .plate .num{padding:22px 0 10px;}
.compared .vs .plate .num h2{font-size:2.2rem;color:#ffc600;}
.compared .vs .plate .num p{font-size:1.6rem;color:#fff;}
.compared .vs .plate .time{position:absolute;bottom:-18px;color:#fff;font-size:1.5rem;}
.compared .vs .left .time{right:-10px;}
.compared .vs .right .time{left:-10px;}
.compared .vs .center{float: left;width:20%;text-align: center;font-size: 4rem;font-weight: bold;font-style:italic;color:#ffc600;line-height: 80px;}
.compared .zhishu img{width:100%;}

.compared .look{padding:20px 3%;overflow: hidden;*zoom:1;text-align: center;}
.compared .look .position{position: relative;height:188px;width:30%;float: left;}
.compared .look .bullish,.compared .look .bearish{position: relative;bottom: 0;position: absolute;bottom: 0;width:100%;}
.compared .look .bullish{left: 0;}
.compared .look .bearish{right:0;}
.compared .look .num{font-size:1.6rem;color:#ffc600;}
.compared .look .num i{font-size:2.4rem;display: inline-block;vertical-align: top;margin-right:5px;}
.compared .look .name{font-size:1.6rem;color:#fff;}
.compared .look .cylinder{padding:15px 0;margin:10px 0;}
.compared .look .cylinder p{height:80px;width:40px;margin:auto;}
.compared .look .cylinder.high p{height:90px;}
.compared .look .red,.compared .look .green{position: relative;}
.compared .look .cylinder:after,.compared .look .cylinder:before{content:"";width:40px;height:30px;position: absolute;left:50%;margin-left:-20px;border-radius:100%;-webkit-border-radius:100%;}
.compared .look .red:before{background:#f34040;top: 0;}
.compared .look .red:after{background:#980202;bottom: 0;}
.compared .look .green:before{background:#4dd94d;top: 0;}
.compared .look .green:after{background:#009800;bottom: 0;}
.compared .look .red p{background:#c50000;}
.compared .look .green p{background:#00c500;}
.compared .look .img{width:40%;float: left;margin-top: 70px;}

.exponent{padding:20px 3%;overflow:hidden;*zoom:1;}
.exponent .title{float: left;}
.exponent .title i{float: left;font-size:4rem;color:#c50000;line-height:40px;margin-right:5px;height:40px;width: 40px;}
.exponent .title p{float: left;font-size: 1.6rem;line-height: 20px;width:40px;}
.exponent ul{width:calc(100% - 85px);float: left;}
.exponent ul li{margin-left:4%;width:46%;float: left;background:#999;height:40px;line-height: 40px;text-align: center;font-size:1.4rem;color:#fff;border-radius:6px;-webkit-border-radius:6px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.exponent ul li.cur{background:#c50000;}

.betting{padding:0 3% 20px;overflow: hidden;*zoom:1;text-align: center;}
.betting .rise,.betting .fall{width:35%;float:left;}
.betting .rise .button{background:#c50000;}
.betting .fall .button{background:#00c500;}
.betting .button{width:100%;height:48px;color:#fff;padding:6px 0;border-radius:6px;-webkit-border-radius:6px;}
.betting .button h2{font-size:1.8rem;font-weight: bold;}
.betting .button p{font-size: 1.4rem;font-weight: bold;}
.betting .price{font-size: 2rem;font-weight: bold;line-height: 40px;}
.betting .rise .price{color:#c50000;}
.betting .fall .price{color:#00c500;}
.betting .time{width:30%;float:left;}
.betting .time > p{font-size: 1.5rem;line-height: 20px;}
.betting .time table{width:100%;text-align: center;}
.betting .time td{font-size:2rem;color:#c50000;font-weight: bold;line-height: 30px;}


/*投注弹窗*/
.bet_pop,.income_pop{position:fixed;left:0;top: 0;z-index: 500;background:rgba(0,0,0,0.5);width:100%;height:100%;display: none;}
.bet_pop .bet_list{margin:0 10%;background:#fff;border-radius:10px;-webkit-border-radius:10px;padding:20px 10px;position: absolute;top: 50%;margin-top: -115px;width:calc(80% - 20px);}
.bet_pop .bet_list ul li{width:27.3333%;margin:0 3%;float: left;height:30px;line-height: 30px;background:#999;border-radius:6px;-webkit-border-radius:6px;text-align: center;color:#fff;margin-bottom:20px;font-size: 1.4rem;}
.bet_pop .bet_list ul li i{display:inline-block;vertical-align:top;font-size: 2rem;color:#fff;margin-right: 5px;}
.bet_pop .bet_list ul li.cur{background:#161616;color:#ffc600;}
.bet_pop .bet_list ul li.cur i{color:#ffc600;}
.bet_pop .bet_list .queding{padding-top:10px;}
.bet_pop .bet_list .queding a{width:28%;height:30px;line-height: 30px;text-align: center;background:#c50000;color:#fff;display: block;margin:auto;border-radius:6px;-webkit-border-radius:6px;}

.income_pop .my_income{margin:0 10%;background:#fff;border-radius:10px;-webkit-border-radius:10px;position: absolute;top: 50%;width:80%;margin-top: -132px;}
.income_pop .my_income .title{font-size:2rem;text-align: center;height:50px;line-height:50px;color:#c50000;border-bottom: 1px #e6e6e6 solid;font-weight: bold;}
.income_pop .my_income .content{padding:20px;text-align: center;}
.income_pop .my_income .content img{width:120px;}
.income_pop .my_income .content p{font-size:2.4rem;color:#c50000;line-height: 60px;}
.income_pop .my_income .content a{display:block;width:100px;height:40px;line-height:40px;text-align: center;color:#fff;background:#c50000;font-size: 1.8rem;margin:auto;border-radius:6px;-webkit-border-radius:6px;}

.explanation_pop{position:fixed;left:0;top: 0;z-index: 500;background:rgba(0,0,0,0.5);width:100%;height:100%;}
.explanation{margin:0 10%;background:#fff;border-radius:10px;-webkit-border-radius:10px;position: absolute;top:50%;width:80%;margin-top:-213px;}
.explanation .title{font-size: 2rem;text-align: center;font-weight:bold;line-height:50px;padding-top: 10px;}
.explanation .content{padding:0 15px 15px;font-size: 1.4rem;height:300px;overflow-y: auto}
.explanation .bottom{border-top:1px #cccccc solid;height:50px;overflow: hidden;*zoom:1;padding:0 15px;}
.explanation .bottom .time{font-size: 1.6rem;font-weight:bold;float: left;line-height:50px;}
.explanation .bottom .time span{color:#c50000;}
.explanation .bottom .close{float: right;height:30px;line-height: 30px;width:60px;text-align: center;background:#c50000;color:#fff;border-radius:6px;-webkit-border-radius:6px;font-size: 1.6rem;margin-top: 10px;}



/*聊天大厅*/
.chatroom {background:#fff;margin-bottom: 20px;}
.chatroom .chatroom_nav{border-bottom: 1px #f0f0f0 solid;padding:0 3%;}
.chatroom .chatroom_nav ul li{width:25%;float: left;line-height:50px;font-size: 1.5rem;text-align: center;}
.chatroom .chatroom_nav ul li span{border-bottom: 2px #fff solid;display: inline-block;vertical-align: top;}
.chatroom .chatroom_nav ul li.cur span{border-color:#c50000;}
.chatroom .chatroom_nav ul li a{display: block;}
.chatroom .withdraw ul li .status{font-size:1.4rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.chatroom .red_dot{position: absolute;right:10%;top:0;background:#ff0000;border-radius: 50%;-webkit-border-radius: 50%;width:20px;height:20px;line-height:20px;text-align: center;color:#fff;font-size: 1.4rem;font-weight:bold;}



/*聊天窗口*/
.chatbox{padding:20px 3%;overflow-y: auto;height: calc(100vh - 184px);}
.chatbox .time{text-align: center;line-height: 30px;font-size: 1.2rem;padding-bottom: 10px;}
.chatbox .avatar{position: relative;width:50px;}
.chatbox .avatar img{width:50px;height:50px;margin:0;border-radius:50%;-webkit-border-radius:50%;}
.chatbox .avatar i{position: absolute;bottom: 0;background:#fff;width:20px;height:20px;line-height:20px;border-radius:100%;text-align: center;color:#b36900;font-size:1.6rem;}
.chatbox .text{width:calc(100% - 110px);float: left;}
.chatbox .text h2{font-size: 1.6rem;line-height:30px;padding-bottom:6px;}
.chatbox .text h2 span{font-size:1.2rem;background:#b36900;border-radius:15px;display: inline-block;vertical-align: top;padding:0 10px;margin:5px 0 0 5px;line-height: 20px;color:#fff;}
.chatbox .text .info{background-color:#fff;padding:10px;border-radius: 6px;font-size: 1.4rem;text-align:left;display: inline-block;}

.chatbox .left,.chatbox .right{margin-bottom:20px;overflow: hidden;*zoom:1;}
.chatbox .left .avatar{float: left;margin-right: 5px;padding-right: 10px;}
.chatbox .left .avatar i{left: 40px;}
.chatbox .left .message{background:url(../images/bg04.png) left 4px no-repeat;background-size:16px auto;padding-left:16px;}

.chatbox .right .avatar{margin-left:5px;padding-left: 10px;float:right;}
.chatbox .right .avatar i{right:40px;}
.chatbox .right .text{float: right;text-align: right;}
.chatbox .right .text h2 i{float: right;margin:0 5px;}
.chatbox .right .message{background:url(../images/bg03.png) right 4px no-repeat;background-size:16px auto;padding-right:16px;}

.chat_footer{height:94px;}
.chat_footer .bottom{position: fixed; left: 0; bottom: 0; width: 100%; background: #fff;z-index: 59;box-sizing:border-box;box-shadow:0 -4px 20px rgba(116,116,116,0.2);-webkit-box-shadow:0 -4px 20px rgba(116,116,116,0.2);padding:10px 3%;}
.chat_footer .bottom .enter_box{width:100%;overflow: hidden;*zoom:1;}
.chat_footer .bottom .enter_box .box{background:#eee;width:calc(100% - 80px);resize: none;height:24px;line-height:24px;padding:5px;border-radius:6px;-webkit-border-radius:6px;float: left;font-size: 1.4rem;overflow-y:auto;-webkit-user-select:text;outline:none;}
.chat_footer .bottom .enter_box .box img{display:inline-block;margin:0;vertical-align: top;}
.chat_footer .bottom .enter_box .send{width:60px;height:34px;line-height: 34px;float:right;margin-left: 10px;text-align: center;background:#c50000;color:#fff;border-radius:6px;-webkit-border-radius:6px;}
.chat_footer .bottom > ul{margin-top:10px;}
.chat_footer .bottom > ul > li{width:20%;float: left;text-align: center;line-height: 30px;}
.chat_footer .bottom > ul > li a{display: block;}
.chat_footer .bottom > ul > li i{font-size:2.6rem;display: block;}

.chat_footer .bottom > ul > li dl{position: absolute;bottom: 52px;left:3%;background:#fff;border-radius: 6px;-webkit-border-radius: 6px;border:1px #e5e5e5 solid;display: none;}
.chat_footer .bottom > ul > li dl:after{content:"";position: absolute;bottom:-8px;left:30px;background:#fff;width:14px;height:14px;-webkit-transform: rotate(45deg);transform: rotate(45deg);border-bottom:1px #e5e5e5 solid;border-right:1px #e5e5e5 solid;}
.chat_footer .bottom > ul > li dl dd{height:30px;line-height: 30px;border-bottom: 1px #e5e5e5 solid;padding:0 10px;}
.chat_footer .bottom > ul > li dl dd:last-child{border-bottom: none;}

.chat_footer .bottom > ul > li.file{position: relative;}
.chat_footer .bottom > ul > li.file input{position:absolute;width:100%;height:30px;top: 0;left: 0;opacity:0;filter:alpha(opacity=0);}

.chat_footer .bottom > ul > li ul{position:absolute;width:100%;bottom:50px;left: 0;background:#fff;padding:10px 0;border-bottom: 1px #eee solid;display: none;}
.chat_footer .bottom > ul > li ul li{float: left;margin:0 6px 6px;}

.prompt_pop{position:fixed;background:rgba(0,0,0,0.5);left: 0;top: 0;width:100%;height:100%;z-index: 301;display: none;}
.prompt_pop .content{margin:0 10%;background:#fff;border-radius: 6px;-webkit-border-radius: 6px;position: absolute;top: 50%;width:60%;padding:30px 10%;text-align: center;margin-top: -80px;}
.prompt_pop .content p{font-size:1.8rem;line-height: 40px;margin-bottom: 20px;}
.prompt_pop .content a{width:40%;background:#bf0000;color:#fff;font-size: 1.6rem;height:40px;line-height: 40px;display: block;border-radius: 6px;-webkit-border-radius: 6px;margin:auto;}


/*交易记录*/
.recording{margin-bottom: 20px;}
.recording .total{font-size: 1.4rem;color:#999;text-align: center;line-height:50px;}
.recording .total span{margin:0 10px;}
.recording ul{background:#fff;}
.recording ul li{border-bottom: 1px #f0f0f0 solid;overflow: hidden;*zoom:1;padding:15px 3%;}
.recording ul li .right{text-align:right;}
.recording ul li h2{font-size: 1.8rem;}
.recording ul li h3{font-size:1.6rem;}
.recording ul li p{font-size: 1.4rem;color:#999;}


/*投诉*/
.complaint{background:#fff;padding:15px 15px 40px;border-radius: 6px;-webkit-border-radius: 6px;margin:20px 3%;}
.complaint .top{overflow: hidden;*zoom:1;margin-bottom: 20px;}
.complaint .top .avatar{float: left;margin-right:5px;padding-right: 10px;position: relative;width:60px;}
.complaint .top .avatar img{width:60px;height:60px;border-radius: 50%;-webkit-border-radius: 50%;}
.complaint .top .avatar i{position: absolute;bottom: 0;background:#fff;width:20px;height:20px;line-height:20px;border-radius:100%;text-align: center;color:#b36900;font-size:1.6rem;left: 40px;}
.complaint .top .text{float: left;width:calc(100% - 75px);margin-top:8px;}
.complaint .top .text p{font-size:1.2rem;background:#b36900;border-radius:15px;display:block;width:66px;line-height: 20px;color:#fff;text-align: center;}
.complaint .top .text h3{font-size: 1.6rem;line-height: 30px;}
.complaint .textarea{border:1px #999 solid;border-radius:6px;-webkit-border-radius:6px;padding:10px;margin-bottom:30px;}
.complaint .textarea textarea{width:100%;display: block;height:168px;resize: none;}
.complaint .btn{margin-top:40px;}
.complaint .btn input{background:#c50000;color:#fff;height:50px;line-height:50px;width:100%;display: block;border-radius:6px;-webkit-border-radius:6px;font-size: 1.6rem;}


/*转账*/
.transfer .top{text-align:center;padding:30px 0;}
.transfer .top .avatar{padding-right: 10px;position: relative;width:80px;margin:auto;}
.transfer .top .avatar i{position: absolute;bottom: 0;background:#fff;width:20px;height:20px;line-height:20px;border-radius:100%;text-align: center;color:#b36900;font-size:1.6rem;left: 40px;}
.transfer .top .text h2{font-size: 1.8rem;line-height:30px;}
.transfer .top .text h2 span{font-size:1.2rem;background:#b36900;border-radius:15px;display: inline-block;vertical-align: top;padding:0 10px;margin:5px 0 0 5px;line-height: 20px;color:#fff;}
.transfer .top .text p{font-size: 1.4rem;}
.transfer .box label{font-size: 1.6rem;line-height: 40px;display: block;}
.transfer .box input{font-size: 2.4rem;line-height: 50px;height:50px;display: block;width:100%;border-bottom: 1px #999 solid;}
.transfer .btn{margin-top:40px;}
.transfer .btn input{background:#c50000;color:#fff;height:50px;line-height:50px;width:100%;display: block;border-radius:6px;-webkit-border-radius:6px;font-size: 1.6rem;}


/*转账密码*/
.pwd_pop{position: fixed;top: 0;left: 0;width: 100%;height:100%;background:#fff;display: none;z-index: 1000;}
.container-fluid{width:80%;}
.container-fluid .tishi{font-size: 1.8rem;text-align: center;padding-top:50px;}
.keyboard-box {background: #fff;font-size: 18px;position: fixed;bottom: 0;left: 15px;right: 15px;}
.keyboard-box i {font-size: 24px;}
.keyboard-numBtn .row .col-xs-4,.keyboard-operation .row_1 .col-xs-12 {border-top: 1px solid #ddd;text-align: center;height: 5rem;line-height: 5rem;}
.keyboard-numBtn .row .col-xs-4 {border-right: 1px solid #ddd;}
.keyboard-operation .row_2 .col-xs-12 {border-top: 1px solid #ddd;text-align: center;color: #fff;height: 15rem;line-height: 15rem;}
.keyboard-operation-submit {background: #c50000;}
.keyboard-show-text {display: flex;flex-wrap: nowrap;justify-content: space-between;margin-top: 30px;}
.keyboard-show-text input[disabled] {background: #fff;border: none;opacity: 1;color: #333;-webkit-text-fill-color: #333;}
.keyboard-money,.keyboard-password {padding:5px;text-align: center;font-size: 20px;font-weight: 600;}
.keyboard-money {width: 15%;border: 1px solid #ddd !important;margin: 0 -1px 0 0;}
.keyboard-password {width: 100%;border-bottom: 1px solid #ddd !important;}




/*上传图片插件的样式*/
.complaint .right_evaluat > p{color:#666;line-height:40px;display: inline-block;margin-left: 80px;}
.complaint .z_photo .z_file{position: relative;}
.complaint .z_file  .file{width: 100%;height: 100%;opacity: 0;filter:alpha(opacity=0);position: absolute;top: 0px;left: 0px;z-index: 100;}
.complaint .z_photo .up-section{position: relative;margin:0 10px 10px 0;}
.complaint .up-section .close-upimg{position: absolute;top:6px;right:6px;display: none;z-index: 10;cursor:pointer;width:20px;}
.complaint .up-section .up-span{display: block;width: 100%;height: 100%;visibility: hidden;position: absolute;top: 0px;left: 0px;z-index: 9;background:rgba(0,0,0,.5);cursor:pointer;}
.complaint .up-section .close-upimg{display: block;}
.complaint .z_photo .up-img{display: block;width: 100%;height: 100%;}
.complaint .loading{background:url(../images/loading.gif) no-repeat center;}
.up-opcity{opacity: 0;filter:alpha(opacity=0);}
.complaint .img-name-p{display: none;}
.complaint .upimg-div .up-section {width:70px;height:70px;}
.complaint .upimg-div .z_file {width:70px;height:70px;}
.complaint .upimg-div .z_file .add-img {display: block;width:70px;height:70px;}


/*遮罩层样式*/
.mask{z-index: 1000;display: none;position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;background: rgba(0,0,0,.4);}
.mask .mask-content{width:90%;position: absolute;top: 50%;left:0;background:white;height: 160px;text-align: center;margin:-80px 5% 0;}
.mask .mask-content .del-p{color: #555;height: 94px;line-height: 94px;font-size: 18px;border-bottom: 1px solid #D1D1D1;}
.mask-content .check-p{height: 66px;line-height: 66px;position: absolute;bottom: 0px;left: 0px;width: 100%;}
.mask-content .check-p span{width: 49%;display:inline-block;text-align: center;color:#d4361d ;font-size: 18px;cursor:pointer;}
.check-p .del-com{border-right: 1px solid #D1D1D1;}



/*注册*/
.registered{margin:20px 0 40px;}
.registered .box{line-height: 50px;height:50px;background:#fff;border-radius: 6px;-webkit-border-radius: 6px;overflow: hidden;*zoom: 1;margin-bottom: 20px;}
.registered .box i{font-size: 2.4rem;width:50px;float: left;text-align: center;color:#c50000;}
.registered .box input{width:calc(100% - 60px);float: left;height:30px;line-height: 30px;padding:10px 10px 10px 0;font-size: 1.5rem;}
.registered .box input.code{width:calc(100% - 170px);}
.registered .box button{width:98px;height:30px;line-height: 28px;margin:10px 10px 10px 0;border:1px #c50000 solid;border-radius: 6px;-webkit-border-radius: 6px;color:#c50000;}
.registered .agree{font-size:1.5rem;line-height: 30px;overflow: hidden;*zoom: 1;}
.registered .agree input{width:14px;height:14px;border:1px #c50000 solid;float: left;margin-top: 7px;}
.registered .agree input.on_checkbox{background: url(../images/bg01.jpg) center center no-repeat;background-size: 16px;}
.registered .agree label{padding-left: 10px;float: left;}
.registered .agree a{color:#c50000;float: left;}
.registered .btn{padding-top: 30px;display: block;}
.registered .btn input{display: block;height:50px;line-height: 50px;text-align: center;width: 100%;background:#c50000;color:#fff;font-size: 1.8rem;border-radius: 6px;-webkit-border-radius: 6px;}
.registered .link{line-height:36px;font-size: 1.5rem;margin-top: 10px;}
.registered .link a{color:#c50000;}


/*用户协议弹窗*/
.protocol_pop{position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 599;background-color: #fff;display: none;}
.protocol_pop .main{height:calc(100% - 50px);overflow-y: auto;}
.protocol_pop .main .protocol{margin:10px 0 40px;line-height: 30px;font-size: 1.4rem;}


/*注册成功*/
.success{margin-top: 20%;}
.success p{font-size:2rem;text-align: center;line-height: 30px;padding-top: 20px;}
.success img{width:120px;height:120px;}
.success a{display: block;height:50px;line-height: 50px;text-align: center;width: 100%;background:#c50000;color:#fff;font-size: 1.8rem;border-radius: 6px;-webkit-border-radius: 6px;margin-top: 40px;}



/*会员中心*/
#clipArea {display: none;position: fixed;left: 0px;top: 0px;width: 100%;height: 100%;z-index: 99;}
.clipwrap {position: absolute;left: 0px;bottom:0px;width: 100%;height: 40px;z-index: 10;}
.clipwrap button {color: #fff;font-size:0.8rem;width: 80px;line-height: 40px;text-align: center;font-size: 1.6rem;}
#clipBtn {float: right;}
.photo-clip-mask-top, .photo-clip-mask-right, .photo-clip-mask-bottom, .photo-clip-mask-left {background-color: rgba(0, 0, 0, 0.75) !important;}
.loading_pop {display: none;position: fixed;left: 0px;top: 0px;right: 0px;bottom: 0px;margin: auto;width: 70px;height: 70px;background-color: rgba(0, 0, 0, 0.9);border-radius: 5px;}
#file {position: absolute;width:100%;height:90px;opacity: 0;left: 0;top: 0;}

.member{margin-bottom:40px;}
.member .top{background-color:#c50000;background-image: url(../images/bg02.png);background-repeat: no-repeat;background-position:center 95px ;background-size:100%;padding-bottom: 20px;border-bottom: 1px #f0f0f0 solid;}
.member .top .drop_out{font-size: 1.6rem;text-align: right;line-height: 50px;}
.member .top .drop_out a{display: block;color:#fff;}
.member .top .avatar{margin-bottom: 10px;position: relative;}
.member .top .avatar img{width:90px;height:90px;border-radius: 50%;-webkit-border-radius: 50%;}
.member .top .avatar i{position: absolute;bottom: 0;left: 50%;background:#fff;width:30px;height:30px;line-height: 30px;border-radius:100%;text-align: center;color:#b36900;font-size: 2rem;margin-left:25px;}
.member .top .text{position: relative;left: 50%;margin-left:-86px;margin-bottom: 20px;display: inline-block;}
.member .top .text h2{font-size: 1.8rem;line-height:30px;}
.member .top .text h2 span{font-size:1.2rem;background:#b36900;border-radius:15px;display: inline-block;vertical-align: top;padding:0 10px;margin:5px 0 0 5px;line-height: 20px;color:#fff;}
.member .top .text p{font-size: 1.5rem;}
.member .balance{overflow:hidden;*zoom:1;}
.member .balance .left{border-right:2px #efefef solid;box-sizing: border-box;-webkit-box-sizing: border-box;width:50%;float: left;}
.member .balance .left i img{width:60px;height:60px;}
.member .balance .left p{font-size: 1.8rem;line-height:30px;text-align: center;margin-top: 10px;}
.member .balance .left p span{color:#c50000;}
.member .balance .right{padding:0 7%;width:36%;float: left;}
.member .balance .right a{display: block;font-size: 1.6rem;line-height: 40px;text-align: center;border-radius: 10px;-webkit-border-radius: 10px;color:#fff;}
.member .balance .right a.red{background:#c50000;margin-bottom: 20px;}
.member .balance .right a.green{background:#0db300;}
.member .balance .right i{font-size:2.4rem;display: inline-block;vertical-align: top;margin-right:6px;}

.member ul li{background:#fff;line-height: 50px;font-size: 1.5rem;border-bottom: 1px #f0f0f0 solid;}
.member ul li a{display: block;overflow: hidden;*zoom:1;padding:0 3%;position: relative;}
.member ul li a:after{content:'';display: block;position: absolute;top: 0;bottom: 0;right:4%;margin: auto;width: 10px;height: 10px;border-top:2px solid #999;border-right:2px solid #999;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.member ul li i{font-size:2.4rem;color:#c50000;width:35px;height: 50px;line-height: 50px;float: left;}
.member ul li span{float: left;width: calc(100% - 35px);}


/*我的分销*/
.distribution{background:#fff;}
.distribution .top{background:#c50000;padding:20px 3% 30px;overflow: hidden;*zoom:1;}
.distribution .top .avatar{margin-right: 10px;position: relative;width:100px;float: left;}
.distribution .top .avatar img{width:90px;height:90px;margin:0;border-radius:50%;-webkit-border-radius:50%;}
.distribution .top .avatar i{position: absolute;bottom: 0;left:70px;background:#fff;width:25px;height:25px;line-height:25px;border-radius:100%;text-align: center;color:#b36900;font-size: 2rem;}
.distribution .top .text{color:#fff;width:calc(100% - 110px);float: left;}
.distribution .top .text h2,.distribution .list ul li .text h2,.withdraw ul li .text h2{font-size: 1.8rem;line-height:30px;}
.distribution .top .text h2 span,.distribution .list ul li .text h2 span,.withdraw ul li .text h2 span{font-size:1.2rem;background:#b36900;border-radius:15px;display: inline-block;vertical-align: top;padding:0 10px;margin:5px 0 0 5px;line-height: 20px;color:#fff;}
.distribution .top .text p{font-size: 1.5rem;}

.distribution .level ul li{height:50px;line-height: 50px;border-bottom: 1px #f0f0f0 solid;font-size: 1.5rem;}
.distribution .level ul li a{display: block;padding:0 3%;overflow: hidden;*zoom:1;position: relative;}
.distribution .level ul li a:after{content:'';display: block;position: absolute;top: 0;bottom: 0;right:4%;margin: auto;width: 10px;height: 10px;border-top:1px solid #999;border-right:1px solid #999;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.distribution .level ul li i{float: left;font-size:2.4rem;color:#c50000;width:30px;text-align: center;margin-right: 10px;}
.distribution .level ul li i.icon-quanbu{font-size: 2rem;}
.distribution .level ul li span{float: right;color:#c50000;padding-right: 20px;}

.distribution .column{border-bottom: 1px #f0f0f0 solid;}
.distribution .column ul li{width:25%;text-align: center;font-size: 1.5rem;float: left;line-height: 50px;border-bottom: 2px #fff solid;}
.distribution .column ul li.cur{border-color:#c50000;}
.distribution .column ul li a{display: block;overflow: hidden;text-overflow: ellipsis;white-space:nowrap;}

.distribution .list{margin-bottom: 20px;}
.distribution .list ul li{overflow: hidden;*zoom:1;border-bottom: 1px #d9d9d9 solid;padding:15px 3%;}
.distribution .list ul li .avatar,.withdraw ul li .avatar{position: relative;width:70px;float: left;}
.distribution .list ul li .avatar img,.withdraw ul li .avatar img{width:60px;height:60px;margin:0;border-radius:50%;-webkit-border-radius:50%;}
.distribution .list ul li .avatar i,.withdraw ul li .avatar i{position: absolute;bottom: 0;left:45px;background:#fff;width:20px;height:20px;line-height:20px;border-radius:100%;text-align: center;color:#b36900;}
.distribution .list ul li .text{float: left;width:calc(100% - 150px);padding:5px 0;}
.distribution .list ul li .text p{font-size: 1.4rem;line-height: 20px;}
.distribution .list ul li .income{width:80px;float:left;text-align: right;font-size:2rem;line-height: 60px;}


/*推荐码*/
.recommend{margin:20px 5%;background:#ffd307;border-radius: 10px;-webkit-border-radius: 10px;padding:20px 10% 30px;text-align: center;position: relative;}
.recommend:before,.recommend:after{content:"";width:30px;height:30px;background:#fff;border-radius: 50%;-webkit-border-radius: 50%;position: absolute;top:60%;}
.recommend:before{left:-15px;}
.recommend:after{right:-15px;}
.recommend .top{font-size: 1.6rem;line-height: 30px;margin-bottom: 20px;}
.recommend .center{background:#fff;border-radius: 10px;-webkit-border-radius: 10px;padding:10px;margin-bottom: 30px;}
.recommend .center h2{font-size:4rem;line-height:50px;color:#c50000;}
.recommend .center p{font-size: 1.6rem;}
.recommend .bottom a{width:120px;height:40px;line-height: 40px;font-size: 1.8rem;color:#fff;display: inline-block;background:#c50000;border-radius: 10px;-webkit-border-radius: 10px;}


/*支付设置*/
.pay_settings ul{background:#fff;}
.pay_settings ul li{height:50px;line-height: 50px;font-size: 1.5rem;border-bottom: 1px #f0f0f0 solid;}
.pay_settings ul li a{display: block;padding:0 3%;position: relative;}
.pay_settings ul li a:after{content:'';display: block;position: absolute;top: 0;bottom: 0;right:4%;margin: auto;width: 10px;height: 10px;border-top:1px solid #999;border-right:1px solid #999;-webkit-transform: rotate(45deg);transform: rotate(45deg);}



/*充值提现*/
.withdraw{background:#fff;}
.withdraw ul li{border-bottom: 1px #f0f0f0 solid;overflow: hidden;*zoom:1;padding:15px 3%;}
.withdraw ul li a{display: block;position: relative;overflow: hidden;*zoom:1;}
.withdraw ul li a:after{content:'';display: block;position: absolute;top: 0;bottom: 0;right:3px;margin: auto;width: 10px;height: 10px;border-top:1px solid #999;border-right:1px solid #999;-webkit-transform: rotate(45deg);transform: rotate(45deg);}
.withdraw ul li .text{width:calc(100% - 80px);float: left;}
.withdraw ul li .text .info{font-size:1.3rem;overflow:hidden;*zoom:1;}
.withdraw ul li .text .info > div{float: left;width:calc(33.3333% - 26px);text-align: center;}
.withdraw ul li .text .info > div.num{width:78px;}
.withdraw ul li .text .info p{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
.withdraw ul li .text .info span{display: block;color:#c50000;}
.withdraw ul li .text .info span img{height:16px;margin-top: 2px;}
.withdraw ul li .text h2 i{font-size: 1.3rem;display: inline-block;vertical-align: top;}

.obtained_pop{position: fixed;top: 0;left: 0;background:rgba(0,0,0,0.5);width:100%;height:100%;z-index:300;display: none;}
.obtained_pop .btn{background:#fff;margin:0 3%;border-radius:6px;-webkit-border-radius:6px;padding:30px 10%;overflow: hidden;*zoom:1;position:absolute;top:50%;margin-top:-50px;width:74%;left: 0;}
.obtained_pop .btn a{float:left;width:40%;text-align: center;font-size: 1.8rem;height:40px;line-height: 40px;color:#fff;border-radius:6px;-webkit-border-radius:6px;}
.obtained_pop .btn a.obtained{margin-right: 20%;background:#c50000;}
.obtained_pop .btn a.close{background:#4c4c4c;}



/*提现上架*/
.shelf ul{background:#fff;}
.shelf ul li{height:50px;line-height: 50px;padding:0 3%;border-bottom: 1px #f0f0f0 solid;font-size: 1.5rem;overflow: hidden;*zoom:1;}
.shelf ul li label{float: left;}
.shelf ul li .right{float: right;}
.shelf ul li .right input{border:1px #999 solid;height:28px;line-height:28px;width:78px;margin-right:10px;text-align: center;color:#c50000;border-radius:6px;-webkit-border-radius:6px;}
.shelf ul li dl{float: right;}
.shelf ul li dd{float: left;margin-left:20px;height: 50px;line-height: 50px;display: flex;-webkit-filter: grayscale(100%);filter: grayscale(100%);filter: gray;}
.shelf ul li dd.on{-webkit-filter: grayscale(0%);filter: grayscale(0%);}
.shelf ul li dd img{height:16px;}
.shelf .btn{padding:50px 3% 20px;}
.shelf .btn input{display:block;width:100%;height:50px;line-height: 50px;text-align:center;font-size: 1.8rem;color:#fff;background:#c50000;border-radius:6px;-webkit-border-radius:6px;}



/*帮助中心*/
.help{background:#fff;}
.help ul li{height:50px;line-height: 50px;font-size: 1.5rem;border-bottom: 1px #f0f0f0 solid;padding:0 3%;}
.help ul li a{display: block;position: relative;}
.help ul li a:after{content:'';display: block;position: absolute;top: 0;bottom: 0;right:3px;margin: auto;width: 10px;height: 10px;border-top:1px solid #999;border-right:1px solid #999;-webkit-transform: rotate(45deg);transform: rotate(45deg);}

.help_det{background:#fff;}
.help_det .title{padding:15px 3%;border-bottom: 1px #f0f0f0 solid;;line-height: 30px;font-size: 1.8rem;}
.help_det .content{padding:20px 3%;font-size: 1.4rem;line-height: 30px;}



/*底部分类*/
.footer{height:60px;}
.footer_nav{position: fixed; left: 0; bottom: 0; width: 100%; background: #fff;z-index: 59;box-sizing:border-box;height:60px;justify-content:center;align-items:center;display:-webkit-box;display: flex;box-shadow:0 -4px 20px rgba(116,116,116,0.2);-webkit-box-shadow:0 -4px 20px rgba(116,116,116,0.2);}
.footer_nav a {display:block;text-align: center;color: #555;-webkit-box-flex: 1;flex: 1;position: relative;}
.footer_nav a i{font-size:2.2rem;height:30px;line-height: 30px;display: block;}
.footer_nav a i.icon-jiaoyi{font-size:2.4rem;}
.footer_nav a.cur,.footer_nav a.cur i{color: #c50000;}
.footer_nav a span {display: block; font-size: 1.4rem;text-align: center;}
.footer_nav a em{position:absolute;top:0;right:25%;background-color:#fb3d3d;color:#fff;border-radius: 50%;width:16px;height:16px;line-height: 16px;text-align: center;}
.footer_nav a span.red_dot{position: absolute;right:30%;top: 0;background:#ff0000;width:16px;height:16px;line-height: 16px;border-radius: 50%;-webkit-border-radius: 50%;color:#fff;font-size: 1.2rem;text-align: center;font-weight:bold;}


.footer .income{position: fixed; left: 0; bottom: 0; width: 100%; background: #fff;z-index: 59;box-sizing:border-box;height:60px;line-height: 60px;box-shadow:0 -4px 20px rgba(116,116,116,0.2);-webkit-box-shadow:0 -4px 20px rgba(116,116,116,0.2);font-size: 1.6rem;}
.footer .income p{padding:0 3%;color:#c50000;}
.footer .income i{font-size: 2.2rem;color:#ffae00;display: inline-block;vertical-align: top;margin-right: 10px;}
.footer .income strong{font-weight:normal}
.footer .income p span{margin-right: 20px;}
.footer .income p span:last-child{margin-right: 0;}


/*返回顶部*/
.suspension {position: fixed;bottom: 62px;right: 10px;z-index:20;}
.suspension .default-transition {width:38px;height:38px;}
.suspension .default-transition img {display: block;width: 100%;height: 100%;}



#tips{position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,0); z-index: 9999; display: none;text-align: center;}
#tips div{margin-top:210px;padding: 10px;background: rgba(0,0,0,0.6); color: #fff; text-align: center; font-size: 14px; border-radius: 4px; word-wrap: break-word;display: inline-block;}
#tips .loading{padding-top: 38px;}